/* Add application styles & imports to this file! */
body, button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 16px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
